<div class="relative w-full h-screen flex flex-col overflow-hidden">
  <!-- Background Map -->
  <div #mapContainer class="absolute inset-0 z-0 leaflet-container"></div>



  <!-- Navigation Bar -->
  <header class="absolute top-0 left-0 right-0 z-10 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <!-- Logo -->
      <div class="transition-transform duration-300 hover:scale-110">
        <img src="logos/image2vector.svg" alt="Logo" class="w-16 h-16 md:w-24 md:h-24 lg:w-28 lg:h-28 bg-white/80 rounded-full p-2 shadow-lg backdrop-blur-sm transition-transform duration-500"/>
      </div>

      <!-- Desktop Menu -->
      <nav class="hidden md:flex space-x-4 bg-white/80 backdrop-blur-sm rounded-xl shadow-lg p-2">
        <button *ngFor="let btn of ['Video', 'Mapas', 'Presentación']"
          class="px-4 py-2 text-sm font-medium text-gray-700 hover:text-blue-600 rounded-lg transition">
          {{ btn }}
        </button>
      </nav>

      <!-- Mobile Menu Button -->
      <button class="md:hidden bg-white/80 p-2 rounded-full shadow-lg">
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </header>

  <!-- Toggle Panel Button -->
  <button (click)="alternarPanel()"
    class="absolute bottom-4 left-4 z-20 w-12 h-12 flex items-center justify-center bg-red-500 text-white rounded-full hover:bg-red-600 transition-transform"
    [class.rotate-45]="panelVisible">
    <i class="pi pi-times"></i>
  </button>

  <!-- Bottom Panel -->
  <section *ngIf="panelVisible" class="absolute bottom-20 left-4 z-20 flex flex-col md:flex-row bg-white/90 backdrop-blur-sm rounded-xl shadow-2xl transition duration-500">
    <!-- Sidebar -->
    <aside class="bg-[#1B2A41] text-center text-white w-full md:w-20 flex flex-row md:flex-col p-2 space-x-2 md:space-x-0 md:space-y-4">
      @for (item of items; track $index) {
        <div class="p-4 rounded-lg shadow-md bg-gray-700 cursor-pointer" pTooltip="{{ item.label }}"
          tooltipPosition="right" (click)="evento(item)">
          <i class="pi {{ item.icon }}"></i>
        </div>
      }
    </aside>

    <!-- Content Section -->
    <p-scrollpanel class="w-full md:w-96 h-[20vh] md:h-[50vh] bg-white rounded-lg shadow-lg h-50vh overflow-y-auto">

      <main class="flex-grow p-4 max-w-[50vh]">
        <ng-container *ngIf="selectedItem; else noSelection">
          <!-- Header -->
          <header class="bg-[#1B2A41] flex items-center mb-6 text-white font-bold p-4 rounded-lg">
            <div class="bg-white/20 p-3 rounded-full mr-4" >
              <i class="pi {{ selectedItem.icon }} text-2xl"></i>
            </div>
            <div>
              <h3 class="text-white text-xl">{{ selectedItem.label }}</h3>
            </div>
          </header>

          <!-- Description -->
          <!-- <p class="text-gray-700 mb-6 leading-relaxed">
            {{ selectedItem.description }}
          </p> -->

          <!-- Details Section with Scroll -->
          <div class=" rounded-lg">
            <div class="p-2 md:p-2">
              <div *ngIf="selectedItem.icon === 'pi-map'">
                <p-dataview [value]="namedGeoJSONLayers">
                    <ng-template #list let-items>
                      @for (item of items; track $index) {
                        <div class="col-span-12" class="col-span-12">
                          <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
                            <!-- Content Section -->
                            <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                              <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                  <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.titulo }}</div>
                                </div>
                              </div>
                              <div class="flex flex-col md:items-end gap-8">
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                  <p-button icon="pi pi-trash" severity="danger" (click)="eliminarCapa(item.nombre)" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <p-slider [min]="0" [max]="0.7" [step]="0.01" (onChange)="cambiarOpacidad(item.name, $event)"></p-slider>

                        </div>
                      }
                    </ng-template>
                </p-dataview>
              </div>

              <div *ngIf="selectedItem.icon !== 'pi-map'">
                <p-accordion>
                  <!-- Primer nivel: "Vivienda", "CNA 2013", etc. -->
                  <p-accordion-panel *ngFor="let item of indice" [value]="item.tema">
                    <p-accordion-header>
                      <div class="text-icon-container">
                        <span class="text">{{ item.tema }}</span>
                        <i class="icono" [class]="item.icono ? item.icono : ''"></i>
                      </div>
                    </p-accordion-header>

                    <p-accordion-content>
                      <!-- Segundo nivel: Secciones (Acceso a bienes, Condiciones habitacionales) -->
                      <ng-container *ngIf="item.datos && item.datos.length > 0; else loggedOut1">
                        <p-accordion *ngIf="item.datos.length">
                          <p-accordion-panel *ngFor="let item1 of item.datos" [value]="item1.seccion || 'Sin Sección'">
                            <p-accordion-header>
                              <div class="text-icon-container">
                                <span class="text">{{ item1.seccion || item1.titulo || 'Sin Título' }}</span>
                              </div>
                            </p-accordion-header>
                            <p-accordion-content>
                              <!-- Tercer nivel: subsecciones (si existen) -->
                              <ng-container *ngIf="item1.datos?.length > 0; else noSubsections">
                                <p-accordion *ngIf="item1.datos.length">
                                  <p-accordion-panel *ngFor="let item2 of item1.datos" [value]="item2.subseccion || item2.titulo">
                                    <p-accordion-header>
                                      <div class="text-icon-container">
                                        <span class="text">{{ item2.subseccion || item2.titulo }}</span>
                                        <i class="icono" [class]="item2.icono || ''"></i>
                                      </div>
                                    </p-accordion-header>
                                    <p-accordion-content>
                                      <!-- Cuarto nivel: datos dentro de las subsecciones -->
                                      <ng-container *ngIf="item2.datos?.length > 0; else showButton">
                                        <div *ngFor="let item3 of item2.datos">
                                          <p-panel [toggleable]="true" [collapsed]="true">
                                            <ng-template pTemplate="header">
                                              {{ item3.titulo }}
                                            </ng-template>
                                            <div class="boton-container">
                                              <p-button type="button" label="{{ botonMapa }}" (click)="opcion(item3)" severity="contrast" ></p-button>
                                            </div>
                                          </p-panel>
                                        </div>
                                      </ng-container>
                                      <ng-template #showButton>
                                        <div class="boton-container">
                                          <p-button type="button" label="{{ botonMapa }}" (click)="opcion(item2)" severity="contrast"></p-button>
                                        </div>
                                      </ng-template>
                                    </p-accordion-content>
                                  </p-accordion-panel>
                                </p-accordion>
                              </ng-container>
                              <ng-template #noSubsections>
                                <!-- Mostrar el botón si no hay subsecciones -->
                                <div class="boton-container">
                                  <p-button type="button" label="{{ botonMapa }}" (click)="opcion(item1)" severity="contrast" ></p-button>
                                </div>
                              </ng-template>
                            </p-accordion-content>
                          </p-accordion-panel>
                        </p-accordion>
                      </ng-container>

                      <!-- Si no hay datos en el segundo nivel, mostramos las tarjetas -->
                      <ng-template #loggedOut1>
                        <div *ngFor="let item1 of item.datos">
                          <p-card (click)="opcion(item1)">
                            <p class="m-0">{{ item1.titulo || 'Sin Título' }}</p>
                            <div class="boton-container">
                              <p-button type="button" label="Agregar Capa" (click)="opcion(item1)" severity="contrast" ></p-button>
                            </div>
                          </p-card>
                        </div>
                      </ng-template>
                    </p-accordion-content>
                  </p-accordion-panel>
                </p-accordion>
              </div>

            </div>
          </div>

        </ng-container>

        <!-- No Selection Message -->
        <ng-template #noSelection>
          <div class="text-center text-gray-500 p-6">
            <i class="pi pi-info-circle text-4xl mb-4 text-blue-500"></i>
            <p>Selecciona una categoría para explorar más detalles</p>
          </div>
        </ng-template>
      </main>
    </p-scrollpanel>
  </section>
</div>
