<div class="flex flex-col h-screen w-screen overflow-hidden">
  <app-header></app-header>

  <!-- Main Content -->
  <div class="flex flex-grow flex-col md:flex-row gap-4 md:gap-8 p-4 md:p-6 bg-gray-50">
    
    <!-- Sidebar with Cards -->
    <div class="bg-[#1B2A41] text-white w-full md:w-20 p-4 flex flex-row md:flex-col rounded-lg shadow-lg">
      <div class="flex flex-row md:flex-col w-full justify-around md:justify-start space-x-2 md:space-x-0 md:space-y-4">
        <div class="p-4 rounded-lg shadow-md bg-gray-700 cursor-pointer" onclick="selectCard(1)" pTooltip="Seleccion 1" tooltipPosition="right">
          <i class="pi pi-home"></i>
        </div>
        <div class="p-4 rounded-lg shadow-md bg-gray-700 cursor-pointer" onclick="selectCard(2)" pTooltip="Seleccion 2" tooltipPosition="right">
          <i class="pi pi-tag"></i>
        </div>
        <div class="p-4 rounded-lg shadow-md bg-gray-700 cursor-pointer" onclick="selectCard(3)" pTooltip="Capas Activas" tooltipPosition="right">
          <i class="pi pi-objects-column"></i>
        </div>
      </div>
    </div>

    <!-- Details Section with Scroll -->
    <p-scrollpanel class="w-full md:w-96 h-[20vh] md:h-[88vh] overflow-y-auto bg-white rounded-lg shadow-lg">
      <div class="bg-white p-2 md:p-4 rounded-lg">
        <div class="p-4 md:p-6">
          <p-accordion value="0">
            <p-accordion-panel value="0">
              <p-accordion-header>Header I</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
              <p-accordion-header>Header II</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
              </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
              <p-accordion-header>Header III</p-accordion-header>
              <p-accordion-content>
                <p class="m-0">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
              </p-accordion-content>
            </p-accordion-panel>
          </p-accordion>

          <div class="controls">
            <button (click)="alternarCapaGeo('poligonos.json')">Cargar Polígonos</button>
            <button (click)="alternarCapaGeo('puntos.json')">Cargar Puntos</button>
            <button (click)="alternarCapaGeo('lineas')">Cargar Líneas</button>
          </div>
          
          @if (listarCapasSeleccionadas().length > 0) {
            <div class="layer-list">
              <h3>Capas activas:</h3>
              <ul>
                @for (layerName of listarCapasSeleccionadas(); track $index) {
                  <li >
                  {{ layerName }}
                    <button (click)="eliminarCapa(layerName)">Eliminar</button>
                  </li>
                }
          
              </ul>
            </div>
          }
        </div>
      </div>
    </p-scrollpanel>

    <!-- Map Container -->
    <div class="flex-grow relative h-[50vh] md:h-full rounded-lg shadow-lg overflow-hidden">
      <div id="map" class="w-full h-full bg-gray-200 rounded-lg"></div>
    </div>

  </div>
</div>
